/* style.css */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ebe7e7; /* Couleur de fond si l'image ne se charge pas */
}

header {
    background-size: cover;
    color: white;
    padding: 20px 0; /* Ajoutez un padding pour le header */
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.logo h1 {
    margin-left: 10px;
    font-size: 1.3em;
    color: white;
}

.logo h1 .icon-circle {
    display: inline-block;
    vertical-align: middle;
}

.logo h1 .icon-circle .fa-circle {
    color: white; /* Cette couleur est pour la bordure */
    -webkit-text-stroke: 0.08em black; /* Crée une bordure pour l'icône du cercle */
}

.logo h1 .icon-circle .dot {
    position: absolute;
    color: black;
    font-size: 0.25em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header-content {
    text-align: center; /* Centre le contenu du header */
    color: rgb(252, 252, 6); /* Couleur du texte pour les titres */
    margin-top: 20px; /* Espace au-dessus du contenu du header */
}

.header-content h2 {
    font-size: 1.5em; /* Taille du texte plus grande pour le titre */
}

.header-content h3 {
    font-size: 1.2em; /* Taille du texte pour le sous-titre */
}

.search-container {
    position: relative;
    max-width: 70%; /* La largeur maximale de la barre de recherche par rapport à son conteneur */
    margin: 20px auto; /* Centrer la barre de recherche horizontalement avec une marge de 20px en haut et en bas */
}

.search-container input,
.search-button {
    height: 40px; /* Exemple de hauteur, ajustez selon vos besoins */
    padding: 8px 16px; /* Ajustez le padding pour qu'il soit identique sur l'input et le bouton */
    box-sizing: border-box; /* Inclut le padding et la bordure dans la largeur/hauteur totales */
}
.search-container input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding-right: 40px; /* Faites de la place pour l'icône de recherche */
}

.search-button {
    position: absolute;
    right: 5px; /* Alignez à droite */
    top: 50%; /* Positionnez à 50% du haut du conteneur */
    transform: translateY(-50%); /* Déplacez le bouton de 50% de sa hauteur vers le haut pour le centrer verticalement */
    background-color: black; /* Fond noir pour le bouton */
    border: none;
    border-radius: 0 5px 5px 0; /* Arrondi seulement sur les coins droit */
    cursor: pointer;
    height: 36px; /* Hauteur du bouton légèrement inférieure pour l'espacement en haut et en bas */
    width: 50px; /* Largeur fixe pour le bouton */
    display: flex; /* Utilisez flexbox pour centrer l'icône */
    justify-content: center; /* Centre horizontalement l'icône dans le bouton */
    align-items: center; /* Centre verticalement l'icône dans le bouton */
    box-sizing: border-box; /* Inclut le padding et la bordure dans la largeur/hauteur totales */
}

.search-button .fa-search {
    color: grey; /* Icône grise comme demandé */
    font-size: 1em; /* Taille de l'icône */
}
.filters-container {
    width: 80%; /* Définit la largeur à 80% de la largeur de son conteneur */
    margin: 0 auto; /* Centre la div horizontalement */
    display: flex; /* Utilisez flexbox pour aligner les éléments à l'intérieur */
    justify-content: space-between; /* Répartit l'espace entre les éléments de manière égale */
    align-items: center; /* Centre les éléments verticalement */
    padding: 20px 0; /* Ajoute un peu d'espace au-dessus et en dessous pour esthétique */
    /* Ajoutez d'autres styles comme l'arrière-plan, les bordures, etc., si nécessaire */
}

.filter-button {
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 20px; /* Boutons avec des bords arrondis */
    background-color: white;
    cursor: pointer;
    position: relative; /* Nécessaire pour positionner la flèche de façon absolue */
    margin-right: 10px; /* Espace entre les boutons */
}

.filter-button i {
    margin-left: 5px; /* Espace entre le texte du bouton et la flèche */
}

.recipes-count {
    margin-left: auto; /* Pousse le texte "1500 RECETTES" à droite */
    font-weight: bold;
}
.recipes-container {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
}

.recipe-card {
    width: 30%;
    height: 500px;
    margin-bottom: 10px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.recipe-image {
    height: 40%;
    position: relative;
}

.recipe-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.recipe-time {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #fff;
    padding: 5px;
}

.recipe-name {
    font-weight: bold;
    padding: 5px;
    background-color: #f5f5f5;
    text-align: center;
    margin: 5px 0;
}

.recipe-details {
    margin: 5px;
    padding: 5px;
    font-size: 0.8em;
}

.recipe-description-title,
.recipe-ingredients-title {
    color: grey;
    margin-bottom: 10px;
}

.recipe-description {
    margin-bottom: 20px;
}

.recipe-ingredients {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 5px;
    row-gap: 5px;
    font-size: 0.8em;
}

.ingredient {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.ingredient-name {
    font-weight: bold;
    margin-bottom: 2px;
}

.ingredient-details {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.ingredient-quantity,
.ingredient-unit {
    margin-right: 5px;
}

.recipe-info .servings,
.recipe-info .appliance,
.recipe-info .ustensils {
    display: none;
}

.recipe-id {
    display: none;
}
