/* style.css */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ebe7e7; /* Couleur de fond si l'image ne se charge pas */
}

header {
    background-size: cover;
    color: white;
    padding: 20px 0; /* Ajoutez un padding pour le header */
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.logo h1 {
    margin-left: 10px;
    font-size: 1.3em;
    color: white;
}

.icon-circle {
    font-size: 15px;
}
.header-content {
    text-align: center; /* Centre le contenu du header */
    color: #FFD15B; /* Couleur du texte pour les titres */
    margin-top: 20px; /* Espace au-dessus du contenu du header */
}

.header-content h2 {
    font-size: 1.5em; /* Taille du texte plus grande pour le titre */
}

.header-content h3 {
    font-size: 1.2em; /* Taille du texte pour le sous-titre */
}

.search-container {
    position: relative;
    max-width: 70%; /* La largeur maximale de la barre de recherche par rapport à son conteneur */
    margin: 20px auto; /* Centrer la barre de recherche horizontalement avec une marge de 20px en haut et en bas */
}

.search-container input,
.search-button {
    height: 40px; /* Exemple de hauteur, ajustez selon vos besoins */
    padding: 8px 16px; /* Ajustez le padding pour qu'il soit identique sur l'input et le bouton */
    box-sizing: border-box; /* Inclut le padding et la bordure dans la largeur/hauteur totales */
}
.search-container input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding-right: 40px; /* Faites de la place pour l'icône de recherche */
}

.search-button {
    position: absolute;
    right: 8px; /* Alignez à droite */
    top: 50%; /* Positionnez à 50% du haut du conteneur */
    transform: translateY(-50%); /* Déplacez le bouton de 50% de sa hauteur vers le haut pour le centrer verticalement */
    background-color: black; /* Fond noir pour le bouton */
    border: none;
    border-radius: 0 5px 5px 0; /* Arrondi seulement sur les coins droit */
    cursor: pointer;
    height: 36px; /* Hauteur du bouton légèrement inférieure pour l'espacement en haut et en bas */
    width: 30px; /* Largeur fixe pour le bouton */
    display: flex; /* Utilisez flexbox pour centrer l'icône */
    justify-content: center; /* Centre horizontalement l'icône dans le bouton */
    align-items: center; /* Centre verticalement l'icône dans le bouton */
    box-sizing: border-box; /* Inclut le padding et la bordure dans la largeur/hauteur totales */
}

.search-button .fa-search {
    color: grey; /* Icône grise comme demandé */
    font-size: 1em; /* Taille de l'icône */
}

.recipes-count {
    margin-left: auto; /* Pousse le texte "1500 RECETTES" à droite */
    font-weight: bold;
}
.recipes-container {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 36px;
    justify-content: flex-start; /* pour car 1 a 1 */
}

.recipe-card {
    width: 30%;
    height: 500px;
    margin-bottom: 10px;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    border-radius: 8px;
}

.recipe-image {
    height: 40%;
    position: relative;
    border-radius: 8px;
    background-color: white;
}

.recipe-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.recipe-time {
    position: absolute;
    padding: 10px;
    top: 10px; /* Ajustez la position en haut à votre convenance */
    right: 10px; /* Ajustez la position à droite à votre convenance */
    background-color: #FFD15B; /* Couleur de fond jaune */
    color: #000; /* Couleur du texte noir */
    padding: 5px 10px; /* Ajustez le padding pour un meilleur rendu */
    border-radius: 15px; /* Les coins arrondis */
    font-weight: bold; /* Texte en gras */
    font-size: 0.9em; /* Taille du texte ajustée */
}


.recipe-name {
    font-weight: bold;
    padding: 5px;
    background-color: #ffffff;
    text-align: center;
}

.recipe-details {
    padding: 5px;
    font-size: 0.8em;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.recipe-description-title,
.recipe-ingredients-title {
    color: grey;
    margin: 10px 0;
}

.recipe-description,
.recipe-ingredients {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3; /* Number of lines to show */
}

.recipe-ingredients {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Crée deux colonnes */
    gap: 5px; /* Ajuste l'écart entre les colonnes */
    overflow: hidden; /* Empêche le contenu de déborder */
}

.ingredient {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centre le contenu verticalement */
    overflow: hidden; /* Empêche le contenu de déborder */
    text-overflow: ellipsis; /* Ajoute des points de suspension si le texte est trop long */
}

.ingredient-name {
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.ingredient-details {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.ingredient-quantity,
.ingredient-unit {
    margin-right: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Classes for hidden elements */
.recipe-info .servings,
.recipe-info .appliance,
.recipe-info .ustensils,
.recipe-id {
    display: none;
}


/* FILTRE DISPO */

/* Style de base pour les filtres */
/* Base styles for the filter container */
.filters-container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    position: relative;
}

.filter {
    position: relative; /* Necessary for absolute positioning of the dropdown */
}

.filter-button {
    padding: 10px 20px;
    border: none;
    background-color: white;
    cursor: pointer;
    font-size: 0.9em;
    color: #333;
    outline: none;
    display: inline-flex; /* Align the icon within the button */
    align-items: center;
}

.filter-button i {
    margin-left: 5px;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    width: 100%; /* Set width to match the container or button */
    top: 100%; /* Position directly below the filter button */
    left: 0; /* Align to the left edge of the filter button */
}

.show {
    display: flex; /* Show the dropdown */
    flex-direction: column;
}

.search-box {
    position: relative;
    width: 65%; /* Ajustez en fonction de la taille de votre menu déroulant */
}

.search-input {
    width: 100%;
    padding: 5px 35px 5px 10px; /* Espace pour l'icône à droite */
    border: 1px solid #ccc;
    outline: none;
}

.search-icon {
    position: absolute;
    left: 100px;
    top: 50%;
    transform: translateY(-50%);
    color: #ccc;
}
.tags-container {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.tag {
    padding: 5px 10px;
    cursor: pointer;
    font-size: 0.8em;
    color: #333;
    margin-bottom: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tag:hover {
    background-color: #ffca28;
}

/* Style pour les tags sélectionnés */
.selected-tags-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    margin-top: 5px;
}

.selected-tag {
    display: flex;
    align-items: center;
    background-color: #ffd54f; /* Couleur de fond des tags */
    color: #333; /* Couleur du texte des tags */
    padding: 5px 10px;
    border-radius: 20px;
    cursor: pointer;
    margin-right: 5px; /* Espace entre les tags */
}

/* Bouton pour supprimer le tag */
.remove-selected-tag {
    display: inline-block;
    margin-left: 10px;
    color: #333; /* Couleur du texte pour le bouton supprimer */
    cursor: pointer;
}